.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.logoImage {
    display: flex;
    justify-self: flex-end;
}

.postsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post {
    color: #F8F8F8;
    > p {
        color: #D7D7D7;
        font-family: 'Inter';
        font-weight: 400;
    }
    > h1 {
        font-family: 'Inter';
        font-weight: 700;
    }
    > div > time {
        color: #BBBBBB;
        font-family: 'Inter';
        font-weight: 400;
    }
    > div > span {
        color: #BBBBBB;
        font-family: 'Inter';
        font-weight: 400;
    }
}
